<div class="container row">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center">Oops! Transaction Cancelled.</h2>
        <br /><br />
        <img src="~/Img/Sad.png" width="25%" />
    </div>
    <h3 class="col-12 text-center" style="color:darkred">
        <br />
        Thank You for shopping width Us. Please Visit Again. <br />
    </h3>
</div>