@model WebAppMVC.Models.Blog

<h2>Delete Blog</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.Name</h4>
</div>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
